<div class="profilContent">
    <div>
        <h1>Changer votre email</h1>
        <section>
            <form [formGroup]="monFormulaire">
                <div class="divEmail">
                    <input type="email" formControlName="email" placeholder="{{ user.email }}" />
                    <div *ngIf="email != null && email.invalid && (email.dirty || email.touched)" class="error-message">
                    <p *ngIf="email.errors?.['required']">L'email est requis.</p>
                    <p *ngIf="email.errors?.['email']">L'email n'est pas valide.</p>
                    </div>
                </div>
                <button mat-button>modifier votre email</button>
              </form>
        </section>
    </div>
    <div class="ListeCommandes"> 
        <h1>Historique de commande</h1>
        <mat-list>
            <mat-list-item *ngFor="let commande of commandes; let i = index" [ngClass]="{'list-item-even': i % 2 === 0, 'list-item-odd': i % 2 !== 0}">
                <span matListItemLine>commande du {{ commande.createdAt | date:'medium' }}</span>
                <mat-icon matListIcon *ngIf="commande.statusCommande !== 'DELIVRED' "> close </mat-icon>
                <mat-icon matListIcon *ngIf="commande.statusCommande === 'DELIVRED' "> check </mat-icon>
            </mat-list-item>
        </mat-list>
    </div>
</div>
