<div class="panierContent">
    <div class="divProduits">
        <mat-card *ngFor="let articles of panierUser" class="example-card">
            <mat-card-header>
                <mat-card-title> {{articles.nom}} </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{articles.description}} 
                </p>
            </mat-card-content>
            <mat-card-actions>
                <p>
                    prix : {{ articles.prix }} € <br>
                    quantité : {{ articles.quantite }}
                </p>
                <!-- *ngIf="loggedIn; else anonymousUser"
                <ng-template #anonymousUser>
                </ng-template> -->
                <button mat-button>supprimer</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="paiementDIV">
        <p>{{prix}}€ TTC</p>
        <button mat-button (click)="displayCommande()" class="paiementCTA">valider votre paiement</button>

        <form id="valideCommande" #commandeForm="ngForm" (ngSubmit)="valideCommande(commandeForm)">
            <mat-form-field class="formCmdFields">
                <mat-label for="phone">Votre téléphone :</mat-label>
                <input matInput type="text" id="phone" name="phoneNumber" ngModel>
            </mat-form-field>
        
            <mat-form-field class="formCmdFields">
                <mat-label for="email">Votre Email:</mat-label>
                <input matInput type="email" id="email" name="email" ngModel required>
            </mat-form-field>
            <button mat-button type="submit">Valider votre commande</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>