<div class="divContact">
    <div class="title">
        <h1> Contact </h1>
        <h3>nous sommes disponible du lundi au vendredi de 9h à 18h</h3>
    </div>
    <section class="contact">
        <div class="columnLeft">
            <span class="material-symbols-outlined"> call </span>
            <h2>Par téléphone</h2>
            <p>téléphone: 36 30 36 30</p>
        </div>
        <div class="columnRight">
            <span class="material-symbols-outlined"> mail </span>
            <h2>Par  mail</h2>
            <p>mail : <a href="mailto:contact@breizhsport.fr">contact&#64;breizhsport.fr</a></p>
        </div>
    </section>
</div>