<main class="main">
  <div class="headerContent">
    <div class="logoDiv">
      <button mat-button routerLink="/">
        <h1>Breizhsport</h1>
      </button>
      <mat-icon>help</mat-icon>
    </div>
    <aside class="sideButton">
      <button mat-icon-button matTooltip="Basic" aria-label="Votre panier" routerLink="/panier">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <mat-icon class="notificationIcon">notifications</mat-icon>
      <mat-card-actions>
        <button mat-button routerLink="/login">connexion</button>
      </mat-card-actions>
    </aside>
  </div>
  <!--- contenu de la page géré par le rooter -->
  <router-outlet></router-outlet>
</main>

