/* You can add global styles to this file, and also import other style files */
@import "./app/elements_variables.scss";

.mat-mdc-tab-group {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1000px !important;
    margin-bottom: 3rem;
}

.main{
    min-height: 0 !important;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
}

.mat-mdc-tab-body-wrapper{
    margin-top: 50px;
}

.slick-prev:before, .slick-next:before{
    color: black !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
