/* You can add global styles to this file, and also import other style files */
@import "./app/elements_variables.scss";

body {
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
}
.slick-prev:before, .slick-next:before{
    color: black !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
