/* You can add global styles to this file, and also import other style files */
@import "./app/elements_variables.scss";

body {
    display: flex;
    flex-direction: column;
    background-color: $bg_color;
}