<!-- tabs.component.html -->
<mat-tab-group>
  <!-- tab accueil / home -->
  <mat-tab label="Breizhsport">
    <!-- carousel -->
    <ngx-slick-carousel
      class="carousel"
      #slickModal="slick-carousel"
      [config]="slideConfig"
    >
      <!-- test avec img mais changement avec une card-->
      <div ngxSlickItem *ngFor="let slide of articlesList" class="slide">
        <mat-card class="slideCard">
          <div class="slideText">
            <mat-card-header>
              <mat-card-title>{{ slide.nom }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ slide.description }}
              </p>
            </mat-card-content>
          </div>
          <img class="slideImage" [src]="slide.image"/>
        </mat-card>
      </div>
      <!------------------------------------------------>
    </ngx-slick-carousel>
    <!--__________-->

    <div class="divProduits">
      <mat-card *ngFor="let articles of articlesList" class="example-card">
        <mat-card-header>
          <mat-card-title> {{ articles.nom }} </mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="articles.image"/>
        <mat-card-content>
          <p>
            {{ articles.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>
            {{ articles.prix }} €
          </p>
          <!-- *ngIf="loggedIn; else anonymousUser"
          <ng-template #anonymousUser>
          </ng-template> -->
          <!--CTA addToPanier(idUser : string, idArticles : string, quantite : number)-->
          <button mat-button (click)="addToPanier('1', articles.id, articles.quantite)">ajouter au panier</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <!-------------------------------------------------------------------------------------------------------->

  <!-- tab catalogue -->

  <mat-tab label="Catalogue"><app-catalogue></app-catalogue></mat-tab>

  <!-------------------------------------------------------------------------------------------------------->

  <!-- tab catalogue -->

  <mat-tab label="À propos"><app-apropos></app-apropos></mat-tab>

  <!-------------------------------------------------------------------------------------------------------->

  <!-- tab catalogue -->

  <mat-tab label="Contact"><app-contact></app-contact></mat-tab>

  <!-------------------------------------------------------------------------------------------------------->
</mat-tab-group>
